# Build folders
/build/
/bin/
/_install/
/_deps/

# OS artifacts
.DS_Store
Thumbs.db

# IDE files
*.vcxproj
*.sln
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Backup
*~
.vs/
CMakeSettings.json
lib/
bin/
out/**

!.vscode/

# **/TransportDLL/transport*.cpp
# **/TransportDLL/transport*.h
# !transport_c.h

**/build/
**/out/

.vscode